
{% extends "filmak/index.html" %}
{% block sidebar %}
<h2>Aukerak</h2>
<ul>	
	 <li><a href="/filmak/sarrera">Filmen lista</a></li>
        <li><a href="/filmak/list">Filmak orrialdeka</a></li>
	<li><a href="/filmak/logout">Irten</a></li>
	<li><a href="/filmak/logout2">Irten(2)</a></li>
</ul>
{% endblock %}

{% block edukia %}
<h2>Bozkatzaileak</h2>

{% if bozkatzaileak %}
<p>Hauek izan dira "{{ filma.izenburua }}" filma bozkatu duten erabiltzaileak:</p>

	<ul>
	{% for b in bozkatzaileak %}
		<li>{{ b.erabiltzaile }}</li>
	{% endfor %}
	</ul>
{% else %}
	<p>Filma hau ez du inork bozkatu</p>

{% endif %}

{% endblock %}
