
{% extends "filmak/index.html" %}
{% block sidebar %}
<h2>Aukerak</h2>
<ul>	
	 <li><a href="/filmak/sarrera">Filmen lista</a></li>
        <li><a href="/filmak/list">Filmak orrialdeka</a></li>
	<li><a href="/filmak/logout">Irten</a></li>
	<li><a href="/filmak/logout2">Irten(2)</a></li>
</ul>
{% endblock %}

{% block edukia %}
<h2>Filmaren xehetasunak</h2>
<h4>"{{ filma.izenburua }}" filmaren detaileak ikusten zaude</h4>

<p><b>Izenburua:</b> {{ filma.izenburua }}</p>
<p><b>Zuzendaria:</b> {{ filma.zuzendaria }}</p>
<p><b>Urtea:</b> {{ filma.urtea }}</p>
<p><b>Generoa:</b> {{ filma.generoa }}</p>
<p><b>Sinopsia:</b> {{ filma.sinopsia }}</p>
<p><b>Bozkak:</b> {{ filma.bozkak }}</p>

<a href="/filmak/bozkatzaileak/{{ filma.id }}">Ikusi bozkatzaileak</a>
<br></br>
<form name="bozkatu" method="POST">
{% csrf_token %}
<input value="Bozkatu" type="submit"/>
<p>{{ mezua }}</p>

</form>

{% endblock %}
