{% extends "filmak/index.html" %}

{% block edukia %}
<h2>Erregistratu(2)</h2>

<form name="erregistratu2" method="POST"> 
     	{% csrf_token %}
	{{ form.as_p }}
	<input value="Sartu" type="submit" />
 
</form>
{% endblock %}
