{% extends "filmak/index.html" %}

{% block edukia %}
<h2>Erregistratu</h2>

<form name="erregistratu" method="POST"> 
     {% csrf_token %}

{{ mezua }}
<h3>Erabiltzailea</h3> 
           <input name="erabiltzailea" type="text" class="Input" value="" size="20" /> 
        <h3>Pasahitza</h3>  
           <input name="password" type="password" size="20" /> 
     <h3>Pasahitza errepikatu</h3>
           <input name="password2" type="password" size="20" />
       
 <th scope="row"><input value="Sartu" type="submit"/></th>

</form>
{% endblock %}
