<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css" />
 		<title>{% block izenburua %}Filmen gunea{% endblock %}</title>
	</head>

	<body>
		<h1>FILMEN GUNEA</h1>
		<table>
		<tr>
    			<td valign="top" width=170>
			{% block sidebar %}
			<h2>Aukerak</h2>
			<ul>
				<li><a href="/filmak/erregistratu">Erregistratu</a></li>
 				<li><a href="/filmak/erregistratu2">Erregistratu(2)</a></li>
				<li><a href="/filmak/sartu">Sartu</a></li>
				<li><a href="/filmak/sartu2">Sartu(2)</a></li>
			</ul>
			{% endblock %}
			</td>
    			<td>{% block edukia %} 
			<h2>Ongi etorri!</h2>
			<p>"Sartu" sisteman erregistratuta baldin bazaude filmak ikusi eta bozkatzeko. Ez bazaude erregistratuta "Erregistratu" momentu batean web-orriaz gozatzeko!</p>



				{% endblock %}</td>
		</tr>

		</table>
	</body>
</html>
