
{% extends "filmak/index.html" %}
{% block sidebar %}
<h2>Aukerak</h2>
<ul>	
	 <li><a href="sarrera">Filmen lista</a></li>
        <li><a href="list">Filmak orrialdeka</a></li>
	<li><a href="logout">Irten</a></li>
	<li><a href="logout2">Irten(2)</a></li>
</ul>
{% endblock %}

{% block edukia %}

{% for filma in filmak %}
<h2>{{ filma.id }}. Filmaren xehetasunak</h2>
<h4>"{{ filma.izenburua }}" filmaren detaileak ikusten zaude</h4>

<p><b>Izenburua:</b> {{ filma.izenburua }}</p>
<p><b>Zuzendaria:</b> {{ filma.zuzendaria }}</p>
<p><b>Urtea:</b> {{ filma.urtea }}</p>
<p><b>Generoa:</b> {{ filma.generoa }}</p>
<p><b>Sinopsia:</b> {{ filma.sinopsia }}</p>
<p><b>Bozkak:</b> {{ filma.bozkak }}</p>
<a href="/filmak/bozkatzaileak/{{ filma.id }}">Ikusi bozkatzaileak</a>

{% endfor %}

<br></br>
<div class="pagination">
	<span class="step-links">
	{% if filmak.has_previous %}
	<a href="?page={{ filmak.previous_page_number }}">Aurrekoa</a>
	{% endif %}

	<span class="current">
		{{ filmak.number }} / {{ filmak.paginator.num_pages }} orria.
	</span>

	{% if filmak.has_next %}
	<a href="?page={{ filmak.next_page_number }}">Hurrengoa</a>
	{% endif %}
	</span>
</div>

{% endblock %}
