
{% extends "filmak/index.html" %}
{% block sidebar %}
<h2>Aukerak</h2>
<ul>	
	<li><a href="sarrera">Filmen lista</a></li>
	<li><a href="list">Filmak orrialdeka</a></li>
	<li><a href="logout">Irten</a></li>
	<li><a href="logout2">Irten(2)</a></li>
</ul>
{% endblock %}

{% block edukia %}
<h2>Kaixo {{ user }}!</h2>
<h4>Hauek dira eskuragarri dauden filmak. Egin klik gogoko duzun filman bozkatu ahal izateko:</h4>
{% if filmen_lista %}
	<ul>
	{% for filma in filmen_lista %}
		<li><a href="/filmak/{{ filma.id }}/">{{ filma.izenburua }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>Ez dago filmarik. Egin klik "Filmen lista" edo "Filmak orrialdeka" estekan orria eguneratzeko.</p>
{% endif %}

{% endblock %}
