
{% extends "filmak/index.html" %}

{% block edukia %}
<h2>Sartu(2)</h2>

<form name="login2" method="POST"> 
     {% csrf_token %}
     {{ form.as_p }} 

	<input value="Sartu" type="submit"/>
</form> {% endblock %}
