
{% extends "filmak/index.html" %}

{% block edukia %}
<h2>Sartu</h2>

<form name="login" method="POST"> 
     {% csrf_token %}
       
	 {{ mezua }} 
         <h3>Erabiltzailea</h3>
           <input name="erabiltzailea" id="erabiltzailea" type="text" class="Input" value="" size="20" /> 
        <h3>Pasahitza</h3> 
          
           <input name="password" id="password" type="password" class="Input" value="" size="20" /> 
          
		<br/><br/><input value="Sartu" type="submit" /> 
</form>
{% endblock %}
