
{% extends "filmak/index.html" %}
{% block sidebar %}
<h2>Aukerak</h2>
<ul>	
	 <li><a href="/filmak/sarrera">Filmen lista</a></li>
        <li><a href="/filmak/list">Filmak orrialdeka</a></li>
	<li><a href="/filmak/logout">Irten</a></li>
	<li><a href="/filmak/logout2">Irten(2)</a></li>
</ul>
{% endblock %}

{% block edukia %}
<h2>"{{ f.izenburua }}" {{ mezua }}</h2>

<p>Aukeratu orain zer egin:</p>
<ul>
	<li><a href="/filmak/{{ f.id }}">"{{ f.izenburua }}" ikusi</a></li>
	<li><a href="/filmak/bozkatzaileak/{{ f.id }}">Filmaren bozkatzaileak ikusi</a></li>
	<li><a href="/filmak/sarrera">Filmen lista</a></li>
</ul>

{% endblock %}
